<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/flower-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body class="content">

    <%- include(`partials/header`); %>

        <main class="main">

            <% for (const category of categories) { %>
                <div class="container">
                    <div class="centered-container">
                        <h1 class="decorated-title font-secondary main-color">
                            <%= category.name %><span class="main-color-emphasized">Inventory</span>
                        </h1>
                        <div class="separator"></div>
                    </div>
                </div>
                <% if (category.items.length==0) { %>
                    <div class="centered-container">
                        <span class="decorated-subtitle font-secondary main-color">
                            <h2>No items in this category</h2>
                        </span>
                    </div>
                    <% } else { %>
                        <div class="gallery">
                            <% for (const item of category.items) { %>
                                <div class="photo-box" data-id="<%= item.id %>">
                                    <img class="photo-box-image" src="<%= item.imageurl %>"></img>
                                    <div class="photo-box-title font-secondary main-color-emphasized">
                                        <a class="link" href="/item/<%= item.id %>">
                                            <%= item.name %>
                                        </a>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <% } %>


                            <% } %>


        </main>

        <%- include(`partials/footer`); %>

</body>

</html>